.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 1rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  box-shadow: var(--shadow-header);
  z-index: 10;
  height: 6rem;
  transition: var(--transition);
}

.sticky {
  background-color: var(--color-bg-header-sticky);
  box-shadow: var(--shadow-header-sticky);
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.nav-logo {
  box-shadow: none;
}

.nav-logo:hover {
  background-color: transparent;
}

.logo-img {
  box-shadow: 0px 0px 6px var(--color-black);
  border-radius: 50%;
  padding: 0.5rem;
  height: 3.8rem;
  width: 3.8rem;
  transition: var(--transition);
}

.logo-img:hover {
  box-shadow: 0px 0px 6px var(--color-hover);
}
