.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authLinks {
  display: flex;
  align-self: end;
  gap: 2rem;
  margin-bottom: 2rem;
}

.mainPageLink {
  align-self: end;
}

.apiLinks {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.apiButton {
  min-width: 20rem;
}

@media (max-width: 768px) {
  .apiLinks {
    flex-direction: column;
  }

  .apiButton {
    min-width: 30vw;
    height: 5rem;
  }
}
