.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apiLinks,
.authLinks {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.apiButton,
.authButton {
  min-width: 20rem;
}

@media (max-width: 768px) {
  .apiLinks,
  .authLinks {
    flex-direction: column;
  }

  .apiButton,
  .authButton {
    min-width: 30vw;
    height: 5rem;
  }
}
